In [2]:
import os
import glob
import pandas as pd
import datetime as dt

In [3]:
extension = 'csv'

all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
df = pd.read_csv(all_filenames[0])
#df_all.index = df_all['Time stamp']
#pd.to_datetime(df_all.index)
#df_all.drop(columns=['Time stamp'], inplace = True)
#df_all.index = pd.DatetimeIndex(df_all.index)
#df_all = df_all.resample('H').mean()
#for f in all_filenames: 
#    val = f.split(' ')
#    col_name = val[0]
#    print(col_name)
#    df_new = pd.read_csv(f, thousands=',')
#    df_new.index = df_new['Time stamp']
#    df_new.index = pd.DatetimeIndex(df_new.index)
#    df_new = df_new.filter(['Value'])
#    df_new['Value'] = pd.to_numeric(df_new['Value'], downcast = 'float')
#    
#    df_new = df_new.resample('H').mean()
#    df_new.rename(columns={'Value': col_name}, inplace = True)
#    df_all = pd.concat([df_all, df_new], axis = 1, sort = False)
#    
#df_all.to_excel('All_Data_090120202.xlsx')
#

In [4]:
df.head()

,Unnamed: 0,timestamp,freq,market,gen_MW,ba_name,fuel_name
0,0,2019-04-01 19:00:00+00:00,1hr,DAHR,124.78,CAISO,wind
1,1,2019-04-01 19:00:00+00:00,1hr,DAHR,9543.25,CAISO,solar
2,2,2019-04-01 21:00:00+00:00,1hr,DAHR,205.75,CAISO,wind
3,3,2019-04-01 21:00:00+00:00,1hr,DAHR,8828.78,CAISO,solar
4,4,2019-04-01 18:00:00+00:00,1hr,DAHR,123.50,CAISO,wind